<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dank Design</title>
        <base href="/dank-design/">
        <link rel="stylesheet" href="static/styles/index.css">
        <link
            id="hljs-theme"
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
        >

        <link
            id="hljs-theme-light"
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css"
            disabled
        >

        <link 
            rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"
        >
        <link 
            rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"
        >
        <link 
            rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"
        >
        
        <link rel="manifest" href="/site.webmanifest">

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
            defer
        ></script>
        
        <script src="//unpkg.com/alpinejs" defer></script>
        
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        
        <script src="static/scripts/index.js" defer></script>
    </head>

    <body>
        <a href="#main-content" class="skip-to-content">
            Skip to content
        </a>

        <header
            id="header"
            hx-get="components/header.html"
            hx-trigger="load"
        >
        </header>

        <main 
            id="main-content" 
            class="container"
            hx-get="pages/home.html"
            hx-trigger="load"
        >
        </main>

        <footer
            hx-get="components/footer.html"
            hx-trigger="revealed"
        >
        </footer>
    </body>
</html>
