<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dank Design</title>
    <link rel="stylesheet" href="static/styles/index.css">
    <script src="static/scripts/index.js" defer></script>
    <link 
        id="hljs-theme" 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
    >
    <link 
        id="hljs-theme-light" 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css" 
        disabled
    >
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" 
        defer
    ></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script 
        src="https://unpkg.com/htmx.org@2.0.4" 
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
        crossorigin="anonymous"
    ></script>
</head>

<body>
    <header 
        id="header"
        hx-get="components/header.html"
        hx-trigger="load"
    >
    </header>


    <main class="container">
        <details 
            id="colours"
            hx-get="pages/colours.html" 
            hx-trigger="revealed"
        >
        </details>

        <details 
            id="elements"
            hx-get="pages/elements.html"
            hx-trigger="revealed"
        >
        </details>

        <details 
            id="components"
            hx-get="pages/components.html"
            hx-trigger="revealed"
        >
            
        </details>

        <details 
            id="layout"
            hx-get="pages/layout-grid.html"
            hx-trigger="revealed"
        >
        </details>
        
        <details 
            id="animations"
            hx-get="pages/animations.html"
            hx-trigger="revealed"
        >
        </details>

        <details 
            id="typography"
            hx-get="pages/typography.html"
            hx-trigger="revealed"
        >
        </details>

        <details 
            id="utility"
            hx-get="pages/utility.html"
            hx-trigger="revealed"
        >
        </details>
    </main>

    <footer
        hx-get="components/footer.html"
        hx-trigger="revealed"
    >
    </footer>
</body>

</html>