<section class="container">
    <h1 class="text-center">Dank Design</h1>


    
    <nav
        x-data="{ 
            atomsMenuIsVisible: false,
            moleculesMenuIsVisible: false,
            organismsMenuIsVisible: false,
            templatesMenuIsVisible: false,
            pagesMenuIsVisible: false
        }"
    >
        <menu id="main-menu">
            <li id="home-menu-item">
                <a href="index.html">Home</a>
            </li>

            <li id="atoms-menu-item" class="submenu-container">
                <button
                    class="btn btn-outline-primary"
                    @click="atomsMenuIsVisible = !atomsMenuIsVisible"
                >
                    Atoms
                </button>

                <menu 
                    id="atoms-submenu"
                    class="submenu" 
                    x-show="atomsMenuIsVisible" 
                    @click.away="atomsMenuIsVisible = false"
                    @click="atomsMenuIsVisible = false"
                    hx-boost="true"
                >
                    <li>
                        <a 
                            hx-get="pages/atoms/accessibility.html"
                            hx-target="#main-content"
                        >
                            Accessibility
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/atoms/typography.html" 
                            hx-target="#main-content"
                        >
                            Typography
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/atoms/colours.html"
                            hx-target="#main-content"
                        >
                            Colours
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/atoms/dimensions.html"
                            hx-target="#main-content"
                        >
                            Dimensions
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/atoms/buttons.html"
                            hx-target="#main-content"
                        >
                            Buttons
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/atoms/inputs.html"
                            hx-target="#main-content"
                        >
                            Inputs
                        </a>
                    </li>

                    <li>
                        <a
                            hx-get="pages/atoms/code.html"
                            hx-target="#main-content"
                        >
                            Code
                        </a>
                    </li>
                </menu>
            </li>

            <li id="molecules-menu-item" class="submenu-container">
                <button 
                    class="btn btn-outline-primary"
                    @click="moleculesMenuIsVisible = !moleculesMenuIsVisible"
                >
                    Molecules
                </button>

                <menu
                    id="molecules-submenu"
                    class="submenu" 
                    x-show="moleculesMenuIsVisible" 
                    @click.away="moleculesMenuIsVisible = false"
                    @click="moleculesMenuIsVisible = false"
                    hx-boost="true"
                >
                    <li>
                        <a 
                            hx-get="pages/molecules/alerts.html"
                            hx-target="#main-content"
                        >
                            Alerts
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/molecules/badges.html"
                            hx-target="#main-content"
                        >
                            Badges
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/molecules/cards.html"
                            hx-target="#main-content"
                        >
                            Cards
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/molecules/details.html"
                            hx-target="#main-content"
                        >
                            Details
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/molecules/images.html"
                            hx-target="#main-content"
                        >
                            Images
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/molecules/lists.html"
                            hx-target="#main-content"
                        >
                            Lists
                        </a>
                    </li>
                </menu>
            </li>

            <li id="organisms-menu-item" class="submenu-container">
                <button 
                    class="btn btn-outline-primary"
                    @click="organismsMenuIsVisible = !organismsMenuIsVisible"
                >
                    Organisms
                </button>
            
                <menu
                    id="organisms-submenu"
                    class="submenu" 
                    x-show="organismsMenuIsVisible" 
                    @click.away="organismsMenuIsVisible = false"
                    @click="organismsMenuIsVisible = false"
                    hx-boost="true"
                >

                    <li>
                        <a 
                            hx-get="pages/organisms/tabs.html"
                            hx-target="#main-content"
                        >
                            Tabs
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/organisms/tables.html"
                            hx-target="#main-content"
                        >
                            Tables
                        </a>
                    </li>
                </menu>
            </li>

            <li id="templates-menu-item" class="submenu-container">
                <button 
                    class="btn btn-outline-primary"
                    @click="templatesMenuIsVisible = !templatesMenuIsVisible"
                >
                    Templates
                </button>

                <menu 
                    id="templates-submenu"
                    class="submenu" 
                    x-show="templatesMenuIsVisible" 
                    @click.away="templatesMenuIsVisible = false"
                    @click="templatesMenuIsVisible = false"
                    hx-boost="true"
                >
                    <li>
                        <a 
                            hx-get="pages/templates/grid.html"
                            hx-target="#main-content"
                        >
                            Grid
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/templates/flex.html"
                            hx-target="#main-content"
                        >
                            Flex
                        </a>
                    </li>

                    <li>
                        <a 
                            hx-get="pages/templates/containers.html"
                            hx-target="#main-content"
                        >
                            Containers
                        </a>
                    </li>

                </menu>
            </li>

            <li id="pages-menu-item" class="submenu-container">
                <button 
                    class="btn btn-outline-primary"
                    @click="pagesMenuIsVisible = !pagesMenuIsVisible"
                >
                    Pages
                </button>

                <menu
                    id="pages-submenu"
                    class="submenu" 
                    x-show="pagesMenuIsVisible" 
                    @click.away="pagesMenuIsVisible = false"
                    @click="pagesMenuIsVisible = false"
                    hx-boost="true"
                >
                    <li>
                        <a 
                            hx-get="pages/pages/basic.html"
                            hx-target="#main-content"
                        >
                            Basic
                        </a>
                    </li>

                </menu>
            </li>

            <li>
                <label for="theme-toggle" title="Toggle light/dark mode">
                    <input type="checkbox" class="switch" id="theme-toggle">
                </label>
            </li>
        </menu>
    </nav>
</section>