<div class="container">
    <h1 class="text-center">Dank Design</h1>
    
    <p class="text-center text-surface-lowest">
        A simple pattern library to plug into any Dank project.
    </p>

    <div class="form-group">
        <label for="theme-toggle">
            <span title="Toggle light/dark theme">🌞 / 🌙</span>
            <input type="checkbox" class="switch" id="theme-toggle">
        </label>
    </div>
</div>

<nav class="container">
    <menu 
    x-data="{ openDetails: function(id) { htmx.find(id).open = 'true' } }" 
    class="menu">
        <li>
            <a href="#colours" @click="openDetails('#colours')">
                Colours
            </a>
        </li>
        <li>
            <a href="#elements" @click="openDetails('#elements')">
                Elements
            </a>
        </li>
        <li>
            <a href="#components" @click="openDetails('#components')">
                Components
            </a>
        </li>
        <li>
            <a href="#layout" @click="openDetails('#layout')">
                Layout
            </a>
        </li>
        <li>
            <a href="#animations" @click="openDetails('#animations')">
                Animations
            </a>
        </li>
        <li>
            <a href="#utilities" @click="openDetails('#utilities')">
                Utilities
            </a>
        </li>
        <li>
            <a href="#typography" @click="openDetails('#typography')">
                Typography
            </a>
        </li>
    </menu>
</nav>