.table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--space-md);
    min-width: 600px;
}

th,
td {
    padding: var(--space-sm);
    text-align: left;
    border-bottom: 1px solid var(--colour-surface-highest);
}

th {
    font-weight: bold;
    background-color: rgba(204, 204, 204, 0.099);
}

tr:nth-child(even) {
    background-color: rgba(204, 204, 204, 0.2);
}

